<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Classes</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Classes Detail</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="kunclass" #editForm="ngForm" (ngSubmit)="save()">
    
      <div class="form-group">
        <label>Id</label>
        {{kunclass.id || 'n/a'}} 
      </div>
    
      <div class="form-group">
        <label for="code">Code</label>
        <input [(ngModel)]="kunclass.code" id="code" name="code" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="kunclass.name" id="name" name="name" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="maximum_students">Maximum Students</label>
        <input type="number" [(ngModel)]="kunclass.maximum_students" id="maximum_students" name="maximum_students" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="status">Status</label>
        <select  [(ngModel)]="kunclass.status" class="form-control" id="status" name="status">
          <option value="open">Open</option>
          <option value="closed">Closed</option>
        </select>
        <!-- <input [(ngModel)]="kunclass.status" id="status" name="status" class="form-control"> -->
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea [(ngModel)]="kunclass.description" class="form-control" name="description" id="description">{{kunclass.description}}</textarea>
      </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
