<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Students</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Students Detail</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="student" #editForm="ngForm" (ngSubmit)="save()">
    
      <div class="form-group">
        <label>Id</label>
        {{student.id || 'n/a'}} 
      </div>
    
      <div class="form-group">
        <label for="first_name">First name</label>
        <input [(ngModel)]="student.first_name" id="first_name" name="first_name" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input [(ngModel)]="student.last_name" id="last_name" name="last_name" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="date_of_birth">Date of birth</label>
        <input type="date" [(ngModel)]="student.date_of_birth" id="date_of_birth" name="date_of_birth" class="form-control">
      </div>
    
      <div *ngIf="student.class" class="form-group">
        <label for="class">Class</label>
        <select  [(ngModel)]="student.class.id" class="form-control" id="class" name="class">
          <option *ngFor='let class of classes' [value]="class.id">{{ class.name }}</option>
        </select>
      </div>

      <div *ngIf="!student.class" class="form-group">
        <label for="class">Class</label>
        <select  [(ngModel)]="student.class.id" class="form-control" id="class" name="class">
          <option *ngFor='let class of classes' [value]="class.id">{{ class.name }}</option>
        </select>
      </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
