<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Classes</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Classes List</h2>
  </div>
  <div class="content">
    <form #f="ngForm">
      
      <div class="form-group">
        <label for="code">Code:</label>
        <input [(ngModel)]="filter.code" id="code" name="code" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="name">Name:</label>
        <input [(ngModel)]="filter.name" id="name" name="name" class="form-control">
      </div>
      
      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Search</button>
      <a [routerLink]="['../kunclasses', 'new' ]" class="btn btn-default">New</a>
    </form>
  </div>
</div>
<div class="card" *ngIf="kunclassList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Code</th>
          <th class="border-top-0" scope="col">Name</th>
          <th class="border-top-0" scope="col">Maximum Students</th>
          <th class="border-top-0" scope="col">Status</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of kunclassList" [class.active]="item === selectedKunclass">
        
          <td>{{item.id}}</td>
          <td>{{item.code}}</td>
          <td>{{item.name}}</td>
          <td>{{item.maximum_students}}</td>
          <td>{{item.status}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../students/class', item.id ]" class="btn btn-primary">View class students</a>&nbsp;
            <a [routerLink]="['../kunclasses', item.id ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
