<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/angular2-logo.png" alt="">
      </div>
      Kun Demo
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>

    <li>
      <a routerLink="kunclasses">
        <i class="ti-arrow-top-right"></i>
        <p>Classes</p>
      </a>
    </li>

    <li>
      <a routerLink="students">
        <i class="ti-arrow-top-right"></i>
        <p>Students</p>
      </a>
    </li>
    <!--
    <li>
        <a routerLink="passenger-search">
            <i class="ti-user"></i>
            <p>Passengers</p>
        </a>
    </li>
-->


    <!--
        <li routerLinkActive="active">
        <a>
            <i class="ti-close"></i>
            <p>Hide Basket</p>
        </a>
        </li>
    -->

  </ul>
</div>
