<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Students</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Students List</h2>
  </div>
  <div class="content">
    <form #f="ngForm">
      
      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Search</button>
      <a [routerLink]="['../students', 'new' ]" class="btn btn-default">New</a>
    </form>
  </div>
</div>
<div class="card" *ngIf="studentList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">First name</th>
          <th class="border-top-0" scope="col">Last Name</th>
          <th class="border-top-0" scope="col">Date of birth</th>
          <th class="border-top-0" scope="col">Class</th>
          <th class="border-top-0" scope="col" style="width:120px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of studentList" [class.active]="item === selectedStudent">
        
          <td>{{item.id}}</td>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.date_of_birth}}</td>
          <td>{{item.class.name}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../students', item.id ]" class="btn btn-secondary">Edit</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
